/*****************************************************/
/****General****/
*

body
{
	background:#e2f6ff url('images/admin2.jpg') center no-repeat fixed;
	background-size: cover; 
	padding-left:10%;
	padding-right:10%;
	font-family:Arial Rounded MT, Geneva, sans-serif;
}
a
{
	text-decoration:none;
	color:#000000;
}
a:hover
{
	color:#ffffff;
}

/*****************************************************/
/****Blocs****/
.colid
{
width: 7%
}
#colorg
{
width:20%;
}
#coldis{
width:10%;
}
#coldate{
width:10%
}
h2
{

	padding:20px;
	margin:auto;
	width:980px;
	height: auto;
	background:url('images/bandeau1.png');
	color: white;
	text-align:left;
	font-weight:bold;
	margin-top:0px;
	box-shadow: 6px 6px 6px black;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	behavior: url(js/PIE.htc);
}

th,td{
    border:1px solid black;
	text-align: center;
	overflow-y: scroll;
}

tr,table
{
	width: 95%;
	font-family: "Arial Rounded MT Bold", Geneva, sans-serif;	
	font-size: 1em;
	border-collapse: collapse;
	text-align: center;
}
.instructions
{
	position: absolute;
	top: 100px;
	right: 100px;
	text-align: left;
	background-color: #e3ffdf;
	width:400px;
	height: 290px;
	padding:10px;
	font-family: "Arial Rounded MT Bold", Geneva, sans-serif;
	behavior: url(js/PIE.htc);
	border:3px solid red;
}


.instructions2
{
	position: absolute;
	top: 420px;
	right: 100px;
	background-color: #dfe2ff;
	text-align: left;
	width:400px;
	height: 220px;
	padding:10px;
	font-family: "Arial Rounded MT Bold", Geneva, sans-serif;
	behavior: url(js/PIE.htc);
	border:3px solid red;
}
.tableau
{

	Position: relative;
	top:100px;
	margin:left;
	width:60%;
	height: 485px;
	overflow-y: auto;
	overflow-x: auto;
	background:#dfceb4;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	padding:10px;
	font-family: "Arial Rounded MT Bold", Geneva, sans-serif;	
	border:1px solid black;
	border-collapse: collapse;
	behavior: url(js/PIE.htc);
	
	}
.navmenu
{
	
	position: relative;
	text-align: left;
	background-color: #bb804a;
	width:340px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	margin:left;
	padding:10px;
	margin-top:20px;
	box-shadow: 6px 6px 6px black;
	behavior: url(js/PIE.htc);
}
.navmenu:hover
{
background-color: #6e4b16;
}

.menuaccueil
{
	position: absolute;
	top: 90px;
	display: inline-block;
	text-align: left;
	background-color: #906933;
	color:#ffffff;
	width:370px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	margin:left;
	padding:10px;
	padding-bottom: 20px;
	margin-top:10px;
	box-shadow: 6px 6px 6px black;
	behavior: url(js/PIE.htc);
	border:1px solid white;
}


/*****************************************************/
/****Contenu****/


.message
{
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	padding:20px;
	margin:auto;
	width:500px;
	background:url('images/black_40p.png');
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	margin-top:20px;
}
.messages_table 
{
	border-top:1px solid #aaaaaa;
	vertical-align:top;
}

