/*****************************************************/
/****General****/
*

body
{
	background:#e2f6ff url('images/compta.jpg') center no-repeat fixed;
	background-size: cover; 
	padding-left:10%;
	padding-right:10%;
	font-family:Arial Rounded MT, Geneva, sans-serif;
}
a
{
	text-decoration:none;
	color:#000000;
}
a:hover
{
	color:#ffffff;
}

.tableau
{
	Position: absolute;
	top: 350px;
	left: 350px;
	width:50%;
	min-width:50%;
	height: 490px;
	min-height: 350px;
	overflow-y: auto;
	overflow-x: auto;
	background:#dfceb4;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:10px;
	font-family: Arial Rounded MT Bold, Geneva, sans-serif;	
	box-shadow: 6px 6px 6px black;
	behavior: url(js/PIE.htc);
	border:1px solid black;
}
th,td, table
{
	border:1px solid black;
	border-collapse: collapse;
	background-color: #d9edff;
	text-align: center;
}

.collicence
{
width: 150px;
}
.colnom
{
width: 250px;
}
.colprenom
{
width: 250px;
}

.colsomme
{
width: 150px;
}


h1
{
	text-align:center;
	margin:0px;
	padding:0px;
}

h2
{
	padding:20px;
	margin:auto;
	width:980px;
	height: auto;
	background:url('images/bandeau1.png');
	color: white;
	text-align:left;
	font-weight:bold;
	margin-top:0px;
	box-shadow: 6px 6px 6px black;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	behavior: url(js/PIE.htc);
}
/*****************************************************/
/****Blocs****/

.navmenu
{
	
	position: relative;
	text-align: left;
	background-color: #bb804a;
	width:340px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	margin:left;
	padding:10px;
	margin-top:20px;
	box-shadow: 6px 6px 6px black;
	behavior: url(js/PIE.htc);
}
.navmenu:hover
{
background-color: #6e4b16;
}

.menuaccueil
{
	position: absolute;
	top: 120px;
	display: inline-block;
	text-align: left;
	background-color: #906933;
	color:#ffffff;
	width:370px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	margin:left;
	padding:10px;
	padding-bottom: 20px;
	margin-top:10px;
	box-shadow: 6px 6px 6px black;
	behavior: url(js/PIE.htc);
	border:1px solid white;
}

/*****************************************************/
/****Contenu****/

.message
{
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	padding:20px;
	margin:auto;
	width:500px;
	background:url('images/black_40p.png');
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	margin-top:20px;
}

